@import url('https://fonts.googleapis.com/css2?family=Road+Rage&family=Roboto:ital,wght@0,500;1,300&display=swap');

body{
    background-color: rgb(13, 57, 75); 
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
}

p{
    border-radius: 5px;

}


div.conteudo{
    margin-top: 1rem;
    background-color: aliceblue;
    border-radius: 10px;
    box-shadow: 5px 10px 50px black;
}

.conteudo h1{
    margin-left: 1rem;
}

.info{
    display: flex;
    flex-direction: row;
    justify-content:space-around;

}

.inputs{
    margin-left: 1rem;
    text-align: center;
    
}

.inputss{
    margin-left: 1rem;
    text-align: center;
    
}

#botao{
    position: relative;
    margin-top: 0.5rem;
    padding: 1rem;
    margin-left: -2.5rem;
}

button{
    width: 25rem;
    margin-left: 2.5rem;
    cursor: pointer;
    border: none;
    background-color: rgb(13, 57, 75);
    font-size: large;
    border-radius: 5px;
}

button:hover{
    background-color: rgb(30, 142, 187);
    transition-delay: 0.3s;

}

#containerResult{
    position: relative;
    margin-left: 3.5rem;
    height: 2rem;
    width: 20rem;
    border-radius: 5px;

}


#resultadoImc{
    text-align: center;
    margin-top: 0.5rem;
    border-radius: 5px;
}


@media screen and (max-width: 700px){
    .info{
        flex-direction: column;
    }
}
